################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hackathon2025Team3/FileContentIndex/123cb537-a538-494a-9be9-615043bad4fa.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/13f49156-893a-4959-a630-cc6d7d04bfca.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/1fb84508-b0fc-43f8-9c5a-ed6ee4389387.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/26b796cc-3616-4be4-b6ec-d31792c77627.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/2708c1ca-b604-406a-b4ac-23ae20d766ec.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/28f38c83-4857-4f72-b178-58f8d0cd999d.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/3f69234e-edff-47e0-aa15-41630386d33b.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/73178475-83f4-4c38-b994-880bd7eb436e.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/8a452209-4f64-41ec-9070-1a4c470d022d.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/9d469649-52a0-4e92-b5c5-db02357fd319.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/9e337a85-cf4f-4eed-a9a3-060363a4e747.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/b883b747-aa3a-453c-a661-6ac09bc079e1.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/c981fef0-90d5-45cb-9aab-406384f2d56c.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/f9c240de-c9ba-4d04-9302-f372da9f7b0f.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/7fc94ec1-ea4a-4dda-9ef1-2c64ea828288.vsidx
/.vs/Hackathon2025Team3/FileContentIndex/d7fcb33b-d796-4969-ae99-01a20db56664.vsidx
/.vs/Hackathon2025Team3/FileContentIndex
/Hackathon2025Team3/obj/Debug/Hackathon2025Team3.csproj.AssemblyReference.cache
/Hackathon2025Team3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.force
/Hackathon2025Team3/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Hackathon2025Team3/obj/Debug/Hackatho.19686EB1.Up2Date
/Hackathon2025Team3/obj/Debug/Hackathon2025Team3.csproj.CoreCompileInputs.cache
/Hackathon2025Team3/obj/Debug/Hackathon2025Team3.csproj.FileListAbsolute.txt
/Hackathon2025Team3/obj/Debug/Hackathon2025Team3.dll
/Hackathon2025Team3/obj/Debug/Hackathon2025Team3.pdb
/Hackathon2025Team3/obj/Hackathon2025Team3.csproj.nuget.dgspec.json
/Hackathon2025Team3/obj/Hackathon2025Team3.csproj.nuget.g.props
/Hackathon2025Team3/obj/project.assets.json
/Hackathon2025Team3/obj/project.nuget.cache
